<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <title>vlb Management Console</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="//fonts.googleapis.com/css?family=Roboto:400,300,100:latin" type="text/css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="/styles.min.css" th:href="@{/assets/min/styles.min.css}" type="text/css" rel="stylesheet" />
</head>
<body>

<div id="page">
    <header th:fragment="header">
        <h1><a th:href="@{/}">Management Console</a></h1>
        <a class="logo" href="/"></a>
    </header>

    <section>

        <ul th:fragment="home_navigation" class="nav nav-tabs">
            <li role="presentation" class="active"><a th:href="@{/}">Zur Startseite</a></li>
        </ul>

        <ul th:fragment="navigation (active_type)" class="nav nav-tabs">
            <li role="presentation" th:class="${active_type} eq AUTHORS ? active"><a th:href="@{/}">Autoren</a></li>
            <li role="presentation" th:class="${active_type} eq PUBLISHER ? active"><a th:href="@{/cleansing/v1/PUBLISHER}">Verlage</a></li>
            <li role="presentation" th:class="${active_type} eq TAGS ? active"><a th:href="@{/cleansing/v1/TAGS}">Schlagworte</a></li>
            <li role="presentation" th:class="${active_type} eq DNB_TAGS ? active"><a th:href="@{/cleansing/v1/DNB_TAGS}">DNB Schlagworte</a></li>

            <li role="presentation" th:class="${active_type} eq 'synonyms' ? 'active'"><a th:href="@{/synonyms/v1/}">Synonyme</a></li>
            <li role="presentation" th:class="${active_type} eq 'abbreviations' ? 'active'"><a th:href="@{/abbreviations/v1/}">Abkürzungen</a></li>
        </ul>


        <div th:fragment="cleasing_buttons (type, typeToDisplay)" class="tab-container">
            <ul class="list-unstyled">
                <li>
                    <a th:href="@{'/cleansing/v1/create_upload/' + ${type}}" class="btn btn-primary" data-toggle="tooltip" data-placement="right"
                       th:title="'Klicken Sie hier, wenn Sie eine neue Excel Datei mit den aktuellsten Korrekturvorschläge für ' + ${typeToDisplay} + 'generieren wollen. Sie können die Korrekturerstellung auf einer bestehenden Excel-Datenbasis aufsetzen lassen.'"><i class="glyphicon glyphicon-plus-sign"></i> <span th:text="'Korrekturvorschläge für ' + ${typeToDisplay} + ' generieren'"></span></a>
                </li>
                <li>
                    <a th:href="@{'/cleansing/v1/request_correction_download/' + ${type}}" class="btn btn-primary" data-toggle="tooltip" data-placement="right"
                    th:title="'Klicken Sie hier, wenn Sie die neueste Excel Datei mit Korrekturvorschläge für ' + ${typeToDisplay} + ' herunterladen wollen.'"><i class="glyphicon glyphicon-download"></i> <span th:text="'Korrekturvorschläge für ' + ${typeToDisplay} + ' herunterladen'"></span></a>
                </li>
                <li>
                    <a th:href="@{'/cleansing/v1/apply_upload/' + ${type}}" class="btn btn-primary" data-toggle="tooltip" data-placement="right"
                       th:title="'Klicken Sie hier, um eine Excel Datei mit Korrekturvorschlägen für ' + ${typeToDisplay} + ' hochzuladen und die bestätigten Korrekturen für die Anwendung auf den VLB Suchindex vorzubereiten!' "><i class="glyphicon glyphicon-ok-circle"></i> <span th:text="'Korrekturen für ' + ${typeToDisplay} +  ' anwenden'"></span></a>
                </li>
            </ul>
        </div>


    </section>

    <footer th:fragment="footer">
        <p>Version 1.0</p>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="/scripts.js" th:src="@{/assets/min/scripts.min.js}"></script>
    </footer>
</div>


</body>
</html>
