<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_template :: head"></head><body>

<div id="page">
    <header th:replace="_template :: header"></header>

    <section>
        <ul th:replace="_template :: navigation (active_type=${'abbreviations'})" />

        <div class="tab-container">
            <ul class="list-unstyled">
                <li>
                    <a th:href="@{/abbreviations/v1/upload_abbreviations}" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Klicken Sie hier, um eine Excel Datei mit Abkürzungen hochzuladen und für die Anwendung auf den VLB Suchindex vorzubereiten! "><i class="glyphicon glyphicon-upload"></i>  Abkürzungen hochladen</a>
                </li>
            </ul>
        </div>

    </section>

    <footer th:replace="_template :: footer "></footer>
</div>
</body>
</html>



