<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_template :: head"></head><body>
<div id="page">
    <header th:replace="_template :: header"></header>

    <section>
        <ul th:replace="_template :: navigation (active_type=${correctionType})"/>

        <div class="tab-container">
            <form method="POST" enctype="multipart/form-data" th:action="@{'/cleansing/v1/apply/' + ${correctionType}}">
                <p>Bitte die Datei mit Ihren Korrekturen (<span th:text="${correctionTypeToDisplay}"></span>) zur Anwendung auf den Index hier auswählen: <input type="file" name="file" class="btn btn-primary"/></p>

                <input type="submit" value="Weiter" class="btn btn-default" />

            </form>

            <div class="alert alert-info hide" role="alert">
                <p>
                    <strong>Hinweis: </strong>Ihre Korrekturen werden gerade auf den VLB Suchindex angewendet. Bitte warten Sie einen Augenblick.
                </p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
            </div>
        </div>

    </section>

    <footer th:replace="_template :: footer"></footer>
</div>
</body>
</html>