<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_template :: head"></head><body>

<div id="page">
    <header th:replace="_template :: header"></header>

    <section>

        <ul th:replace="_template :: home_navigation"/>

        <div class="tab-container" th:if="${session.success.get()}">
            <div class="panel panel-info">
                <div class="panel-heading"><i class="glyphicon glyphicon-ok-circle"></i> Korrekturen hochgeladen</div>
                <div class="panel-body">
                    <p>Ihre Korrekturen für <strong th:text="${correctionTypeToDisplay}"></strong> wurden hochgeladen und in das korrekte Index Verzeichnis kopiert. Damit die Korrekturen auf die Daten angewendet werden, bedarf es einer Reindexierung der Suchmaschine.</p>
                </div>
            </div>
        </div>

        <div class="tab-container" th:if="!${session.success.get()}">
            <div class="alert alert-danger" role="alert">
                <strong>Hinweis: </strong>Beim Hochladen ihrer Korrekturen für <span th:text="${correctionTypeToDisplay}"></span> ist ein Fehler aufgetreten. Bitte überprüfen Sie die das Format der hochgeladenen Datei und versuchen Sie es erneut.
            </div>
        </div>

    </section>

    <footer th:replace="_template :: footer"></footer>
</div>
</body>
</html>