<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_template :: head"></head><body>
<div id="page">
    <header th:replace="_template :: header"></header>

    <section>

        <ul th:replace="_template :: navigation (active_type=${correctionType})"/>

        <div class="tab-container">


            <div th:switch="${T(com.languagetools.dictfold.vlb.web.TemplateUtils).getFileStatus(downloadFile)}">

                <div th:case="UNKNOWN">
                    <div class="panel panel-info">
                        <div class="panel-heading"><i class="glyphicon glyphicon-time"></i> Erstellung von Korrekturvorschlägen gestartet</div>
                        <div class="panel-body">
                            <p th:if="${correctionType == 'AUTHORS'}">
                                Die Erstellung der Autorenkorrekturvorschläge kann aufgrund der hohen Anzahl von Autoren bis zu <b>einer Stunde</b> dauern.
                            </p>
                            <p th:if="${correctionType == 'TAGS'}">
                                Die Erstellung der Schlagwortkorrekturvorschläge kann aufgrund der hohen Anzahl von Schlagworten bis zu <b>30 Minuten</b> dauern.
                            </p>
                            <p>Mit Klick auf den Button <span class="label label-default">Prüfen</span>, können Sie feststellen, ob die Korrekturvorschläge für <strong th:text="${correctionTypeToDisplay}"></strong> bereits erstellt wurden und sie heruntergeladen werden können. Wenn noch ein Prozess läuft, werden Sie darauf hingewiesen, es später erneut zu versuchen.</p>
                        </div>
                    </div>

                    <a th:href="@{'/cleansing/v1/request_correction_download/' + ${type}}" class="btn btn-default" data-toggle="tooltip" data-placement="right">Prüfen</a>
                </div>

                <div th:case="VALID">
                    <div class="panel panel-info">
                        <div class="panel-heading"><i class="glyphicon glyphicon-ok-circle"></i> Korrekturvorschläge erstellt</div>
                        <div class="panel-body">
                            <p>Die Datei mit den aktuellsten Korrekturvorschlägen für <strong th:text="${correctionTypeToDisplay}"></strong> ist vom
                                <strong th:text="${T(com.languagetools.dictfold.vlb.web.TemplateUtils).dateFromSeconds(downloadFile.lastModified())}"></strong> und ist
                                <strong th:text="${T(com.languagetools.dictfold.vlb.web.TemplateUtils).displayFileSize(downloadFile.length())}"></strong>
                                groß.</p>
                        </div>
                    </div>

                    <a th:href="@{/cleansing/v1/download_corrections(file=${downloadFile.getAbsolutePath()})}" class="btn btn-primary" data-toggle="tooltip" data-placement="right"><i class="glyphicon glyphicon-download"></i> Korrekturvorschläge für <strong th:text="${correctionTypeToDisplay}"></strong> als Excel-Datei herunterladen</a>
                </div>
                <div th:case="INVALID">
                    <div class="panel panel-info">
                        <div class="panel-heading"><i class="glyphicon glyphicon-ok-circle"></i> Keine Korrekturvorschläge gefunden</div>
                        <div class="panel-body">
                            <p>Es konnte keine valide Datei mit Korrekturvorschlägen für <strong th:text="${correctionTypeToDisplay}"></strong> gefunden werden.
                                Bitte versuchen Sie (erneut) Korrekturvorschläge für <span th:text="${correctionTypeToDisplay}"></span> zu generieren.
                            </p>
                        </div>
                    </div>

                    <a th:href="@{'/cleansing/v1/create_upload/' + ${correctionType}}" class="btn btn-primary" data-toggle="tooltip" data-placement="right">
                        <i class="glyphicon glyphicon-plus-sign"></i> <span th:text="'Korrekturvorschläge für ' + ${correctionTypeToDisplay} + ' generieren'"></span></a>
                </div>

            </div>

        </div>

    </section>

    <footer th:replace="_template :: footer"></footer>
</div>
</body>
</html>