<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_template :: head"></head><body>
<div id="page">
    <header th:replace="_template :: header"></header>

    <section>

        <ul th:replace="_template :: navigation (active_type=${correctionType})"/>

        <div class="tab-container">

            <form method="POST" enctype="multipart/form-data" th:action="@{'/cleansing/v1/create/' + ${correctionType}}">

                <p class="fileupload">
                    Bitte die Datei mit Ihren Korrekturen (<span th:text="${correctionTypeToDisplay}"></span>) auswählen, die mit den aktuellsten Korrekturvorschlägen aufgefrischt werden soll: <input type="file" name="file" class="btn btn-primary"/>
                    <span class="fileoverlay hide"></span>
                </p>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="no_file_provided" value="true"/> Ich habe bisher keine Datei mit Korrekturen
                        <span th:text="'für ' + ${correctionTypeToDisplay}"></span> und möchte stattdessen den aktuellen Stand der Korrekturvorschläge generieren und in eine neue Datei speichern lassen.
                    </label>
                </div>

                <div class="alert alert-info">
                    <p><strong>Hinweis</strong>: Bitte beachten Sie, dass nach Auswahl der Datei und Klick auf <span class="label label-default">Weiter</span> der Prozess zur Erstellung von Korrekturvorschlägen gestartet wird. Dies kann bis zu <span th:switch="${correctionType}"> <strong th:case="'AUTHORS'">60 Minuten</strong> <strong th:case="'TAGS'">30 Minuten</strong> <strong th:case="*">10 Minuten</strong> </span> dauern. Andere Prozesse können erst wieder gestartet werden, wenn dieser Prozess beendet ist.</p>
                </div>

                <input type="submit" value="Weiter" class="btn btn-default" />

            </form>

        </div>

    </section>

    <footer th:replace="_template :: footer"></footer>
</div>
</body>
</html>