@vlb-green: #363636;

* {
  padding: 0;
  margin: 0;
}

html {
  background-color: #eee;
  height: 100%;
}

body {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  background: #fefefe url("../img/bg.png");
  color: #4a5463;
  height: 100%;

  #page {
    background: #f0f0f0 url("../img/header.png") no-repeat;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    width: 1004px;

    header {
      position: relative;
      height: 194px;

      h1 {
        background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #727b90 0px, #4a5364 100%) repeat scroll 0 0;
        color: #fff;
        display: block;
        font-size: 18px;
        height: 41px;
        line-height: 41px;
        padding: 0 10px;
        position: absolute;
        right: 0;
        top: 125px;
        width: 784px;

        a {
          &, &:hover {
            color:#fff !important;
          }
        }
      }

      .logo {
        display: block;
        position: absolute;
        width: 200px;
        height: 90px;
        top: 32px;
        left: 10px;
      }
    }

    section {
      padding: 10px;

      .nav-tabs {
        a {
          cursor: pointer;
        }
      }

      .tab-container {
        border: 1px solid #ddd;
        border-top: none;
        background: #fff;
        padding: 10px;

        .alert {
          margin-top: 20px;

          .progress {
            margin-bottom: 0;
          }
        }

        ul {
          margin-top: 10px;

          li {
            margin-bottom: 10px;
          }
        }

        p, label {
          margin: 10px 0;

          .label-default {
            background-color: #fff;
            border-color: #ccc;
            border-width: 1px;
            border-style: solid;
            color: #333;
            border-radius: 4px;
            font-weight: normal;
            padding-bottom: 2px;
            position: relative;
            top: -2px;
          }
        }

        p {
          position: relative;

          .fileoverlay {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: #fff;
            opacity: 0.5;
          }
        }


      }
    }

    footer {
      position: fixed;
      bottom: 0;
      height: 40px;
      background: #fff;
      width: 1004px;
      margin: 0 auto;
      border-top: 1px solid @vlb-green;

      p {
        font-size: 12px;
        line-height: 40px;
        padding: 0 10px;
      }
    }
  }
}